body {
    background-color: #ffeead;
}

h3 {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.searchForm {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
}

.searchField {
  grid-columns: 1/-1;
  width:300px;
}
